[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

jupyter = "*"
"scikit-learn" = "*"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
flask = "*"
"flask-restful" = "*"


[dev-packages]

[requires]
python_version = "3.6"